@using HairSalon.Models;
@using HairSalon;

<h2>All Stylists</h2>
    <ul>
      @if (Model.Count == 0)
      {
        <li>No stylists have been added yet!</li>
      }

      @if(Model.Count != 0)
      {
        @foreach (var stylist in Model)
        {

          <a href="/stylists/@stylist.GetId()">@stylist.GetName()</a><br>
        }
      }
    </ul>

    <!-- <form action="/stylists/delete" method="post">
     <button class="btn btn-danger" type="submit">Delete all stylists</button>
   </form> -->

    <a href="/">Back to homepage</a>
