@using HairSalon.Models;

<h1>Specialties</h1>
    <h2>You can add a new specialty here.</h2>
    <form action="/specialties" method="post">
      <input id="type" name="type" type="text">
      <button type="submit">Add New Specialty</button>
    </form>
    <br>
    <a href="/specialties">Back to Specialtys</a>
    <a href="/">Back to homepage</a>
