<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Welcome to the Hair Salon!</h1>
    <center>
      <a href="/clients">View All Clients</a>
    <a href="/stylists">View Stylists</a>
    <a href="/stylists/new">Add New Stylist</a>
    <a href="/specialties">View Specialties</a>
    </center>
  </body>
</html>
