@using HairSalon.Models;

<h1>Client information</h1>
   <h3>Name @Model["client"].GetName()</h3>
     // <a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>Edit this item</a>
     // <form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/delete" method="post">
     //   <button type="submit">Delete this item</button>
     </form>
     <a href="/stylists/@Model["stylist"].GetId()/clients/new">Add New Client</a>
     <a href="/stylists">View All Stylists</a>
     <a href="/homepage">Homepage</a>

     <form action='/clients/@Model["client"].GetId()/delete' method="post">
       <button type="submit" class="btn btn-dark">Delete Client</button>
     </form>
